body{
background-color: darkmagenta;

}
.bg-image{
    background-image: url("../images/calculator.png");
    height: 100vh;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    width: 100%;
    background-repeat:no-repeat ;
    background-position:center ;
    background-size: cover;
}
